.img-peq{
    width: 60px;
}
.img-med{
    width: 50%;
   }


@media(min-width:280px){
   div{
    font-size: 10px;
   }
}
@media(min-width:768px){
    div{
        font-size: 15px;
       } 
}
@media(min-width:991px){
    div{
        font-size: 18px;
       } 
}